body {     
    margin: 82px 20px 20px 20px;
}

body,
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:focus, 
.nav-tabs > li.active > a:hover {
    background-color: #FDFDFD;
}

#conteudo { 
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

#header {
    background-color: #FFF;
    box-shadow: 0 0 3px 0 #E6E6E6;
    display: block;
    left: 0;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#header h4,
#header p {
    padding: 10px;
    margin: 0;
}

.truncate {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    font-size: 20px;
}

p, ul {
    margin-bottom: 20px;
    font-size: 16px;
}

pre {
    border: solid 1px #DDD;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

pre code {
    white-space: pre;
}

.cor1 {
    color: #0000E6;
}

.cor2 {
    color: #FF0000;    
}

.cor3 {
    color: #8B0000;
}

.cor4 {
    color: #009900;
}

.cor5 {
    color: #CE7B00;
}

a,
a:hover,
a:focus {
    color: inherit !important;
}

a span {
    padding-left: 5px;
}

i {
    color: #333;
}

th, td {
    text-align: center;
}

hr {
    border-top: solid 1px #DDD;
}